.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 30px;
  padding: 0px;
  color: white;
}

.fields {
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  padding-top: 10px;
  text-align: left;
  float:right;
  width:30%;
  font-size: small;
}

.App-output {
  padding-top: 10px;
  text-align: left;
  float:left;
  width:70%;
  font-size: small;
}

.Canvas {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
